body {
	font: 12px arial, sans-serif;
}
div {
	margin: 0px;
}

#divMain {
    background-color: rgba(0, 0, 0, .4);
    border-style: double;
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 20px;
    min-height: 100px;
    min-width: 230px;
}

#lblMain {
    font-size: 15px;
}

#lblNoGiveaway {
    font-size: 13px;
}

#divUseAll {
    display: none;
}

